$aa:30;
html,body{
    
    height: 100%;
}
body{
    margin: 0;
    background: #f0f0f0;
}
.a{
   width: 304/$aa+rem;
    height: 303/$aa+rem;
    margin-left: 212/$aa+rem;
    margin-top: 338/$aa+rem;
}
h1{
    margin: 0;
    padding: 0;
    margin-top: 20/$aa+rem;
    margin-left: 212/$aa+rem;
}
.b{
    margin: 0;
    width:351/$aa+rem ;
    height: 39/$aa+rem;
    margin-left: 190/$aa+rem;
    margin-top: 130/$aa+rem;
}
